<div class="main">
  <div class="summary">
    <div>
      <code class="flag-key">{{flagDetail.key}}</code>
      <div *ngIf="flagDetail.description" class="description-text">{{flagDetail.description}}</div>
      <h2>Targeting</h2>
      <nz-switch [(ngModel)]="flagDetail.status" (ngModelChange)="onFlagStatusChanged($event)" nzCheckedChildren="ON" nzUnCheckedChildren="OFF"></nz-switch>
      <span class="updated-text">Updated {{flagDetail.updatedAt | dateAsAgo}}</span>

      <div class="tags-container" *ngIf="flagDetail.tag">
        <nz-tag>{{flagDetail.tag}}</nz-tag>
      </div>
    </div>

    <div class="right-content">
      <div class="bold">Added by: {{flagDetail.createdBy}}</div>
      <div>{{flagDetail.createdAt | dateAsAgo}}</div>
    </div>
  </div>

  <div class="rules">
    <h3>Target users who match these rules</h3>

    <div class="rule-card">
      <div class="row">
        <h4 style="display: inline-block; margin-top: 4px; min-width: 40px;">IF</h4>
        <nz-select class="rule-attribute" [(ngModel)]="ruleAttribute">
          <nz-option nzValue="company_id" nzLabel="company_id"></nz-option>
          <nz-option nzValue="user_id" nzLabel="user_id"></nz-option>
        </nz-select>

        <nz-select class="rule-attribute" [(ngModel)]="ruleRelation">
          <nz-option nzValue="is_one_of" nzLabel="is one of"></nz-option>
        </nz-select>

        <div class="tag-container">
          <nz-tag
            *ngFor="let tag of tags; let i = index"
            nzMode="closeable"
            (nzOnClose)="handleClose(tag)"
          >
            {{ sliceTagName(tag) }}
          </nz-tag>
          <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
            <i nz-icon nzType="plus"></i>
            Add ID
          </nz-tag>
          <input
            #inputElement
            nz-input
            nzSize="small"
            *ngIf="inputVisible"
            type="text"
            [(ngModel)]="inputValue"
            style="width: 78px;"
            (blur)="handleInputConfirm()"
            (keydown.enter)="handleInputConfirm()"
          />
        </div>
      </div>

      <div class="row">
        <h4 style="display: inline-block; margin-top: 2px; min-width: 40px;">Serve</h4>

        <nz-select class="rule-attribute" [(ngModel)]="ruleValue">
          <nz-option [nzValue]="true" nzLabel="True"></nz-option>
          <nz-option [nzValue]="false" nzLabel="False"></nz-option>
        </nz-select>
      </div>

    </div>


    <h3>Default Rule</h3>
    <div class="rule-card">
      <div class="row">
        <h4 style="display: inline-block; margin-top: 5px; min-width: 40px;">Serve</h4>
        <nz-select class="rule-attribute" [(ngModel)]="defaultRule">
          <nz-option nzValue="true" nzLabel="True"></nz-option>
          <nz-option nzValue="false" nzLabel="False"></nz-option>
          <nz-option nzValue="percent" nzLabel="Percentage Rollout"></nz-option>
        </nz-select>
      </div>

      <div class="row" *ngIf="defaultRule === 'percent'">
        <div class="bar-container">
          <span class="bar-true" [style.width]="defaultRulePercentTrueBarPx+'px'"></span>
          <span class="bar-false"></span>
        </div>
      </div>

      <div class="row" *ngIf="defaultRule === 'percent'">
        <div class="true-indicator"></div>
        <h4 style="display: inline-block; margin-top: 5px; min-width: 40px;">True</h4>
        <nz-slider style="width: 500px" [nzMin]="0" [nzMax]="100" [(ngModel)]="defaultRulePercentTrue" (ngModelChange)="onChangePercentTrue($event)"></nz-slider>
        <h4 style="display: inline-block; margin-top: 5px; min-width: 40px; margin-left: 5px;">{{defaultRulePercentTrue}}%</h4>
      </div>

      <div class="row" *ngIf="defaultRule === 'percent'">
        <div class="false-indicator"></div>
        <h4 style="display: inline-block; margin-top: 5px; min-width: 40px;">False</h4>
        <nz-slider style="width: 500px" [nzMin]="0" [nzMax]="100" [(ngModel)]="defaultRulePercentFalse" (ngModelChange)="onChangePercentFalse($event)"></nz-slider>
        <h4 style="display: inline-block; margin-top: 5px; min-width: 40px; margin-left: 5px;">{{defaultRulePercentFalse}}%</h4>
      </div>
    </div>

  </div>
</div>
