$true-color: #38D9A9;
$false-color: #228BE6;

.main {
  height: 100%;
  overflow: auto;

  .summary {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 32px;
    box-shadow: 0px 1px 2px rgb(46 46 46 / 20%);

    .description-text {
      color: #58595b;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .default-text {
      vertical-align: bottom;
      margin-right: 10px;
    }

    .flag-key {
      display: block;
      background-color: #E6E6E6;
      padding: 2px 12px;
      border-radius: 20px;
      margin-bottom: 10px;
      width: fit-content;
    }

    .updated-text {
      margin-left: 20px;
      vertical-align: bottom;
    }

    .tags-container {
      margin-top: 20px;
    }

    .right-content {
      text-align: end;
      height: fit-content;
      margin-top: 80px;

      .bold {
        font-weight: 600;
      }
    }
  }

  .rules {
    padding: 20px 32px;

    .rule-card {
      border-radius: 3px;
      border: 1px solid #E6E6E6;
      padding: 20px;
      background-color: #FFFFFF;
      margin-bottom: 20px;

      .row {
        display: flex;
        align-items: center;
        width: 100%;

        &:not(:first-child) {
          margin-top: 10px;
        }

        .rule-attribute {
          min-width: 170px;
          margin-left: 30px;
        }

        .tag-container {
          width: 100%;
          height: 32px;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          margin-left: 30px;
          display: flex;
          padding: 4px 10px;
  
          .editable-tag {
            background: #FFFFFF;
            border-style: dashed;
            cursor: pointer;
          }
        }

        .bar-container {
          width: 506px;
          height: 18px;
          padding: 2px 2px;
          border: 1px solid #d9d9d9;
          display: flex;
          margin-left: 58px;
          margin-top: 10px;

          .bar-true {
            display: block;
            background-color: $true-color;
            width: 100px;
            height: 12px;
          }

          .bar-false {
            display: block;
            background-color: $false-color;
            height: 12px;
            flex-grow: 1;
          }
        }

        .true-indicator {
          display: block;
          width: 10px;
          height: 10px;
          margin: 0 10px 2px 0;
          background-color: $true-color;
        }

        .false-indicator {
          display: block;
          width: 10px;
          height: 10px;
          margin: 0 10px 2px 0;
          background-color: $false-color;
        }
      }
    }
  }
}