.list-main {
  height: 100%;
  overflow: auto;

  .filters {
    padding: 20px 32px;
    background: white;
    margin-bottom: 24px;
    box-shadow: 0px 1px 2px rgba(#2E2E2E, 0.2);

    .search-input {
      max-width: 250px;
    }

    .create-btn {
      float: right;
    }
  }

  .content {
    padding: 0 32px;
    margin-bottom: 50px;

    .data-row {
      cursor: pointer;
    }
  }

  .sub-text {
    color: #757575;
    font-size: 12px;
  }

  .flag-key {
    background-color: #E6E6E6;
    padding: 2px 12px;
    border-radius: 20px;
  }
}