<main>
  <header class="filters">
    <nz-input-group [nzSuffix]="suffixIconSearch" class="search-input">
      <input type="text" nz-input placeholder="Search by Name" [ngModel]="searchQuery" (ngModelChange)="onSearchChanged($event)" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <button nz-button nzType="primary" class="create-btn" (click)="createFlag.show()">Create Flag</button>
  </header>

  <div class="content">
    <nz-table #rowSelectionTable nzShowPagination [nzData]="filteredFlags">
      <thead>
        <tr>
          <th [nzSortOrder]="null" (nzSortOrderChange)="sortByName($event)">Name</th>
          <th>Key</th>
          <th [nzSortOrder]="'descend'" (nzSortOrderChange)="sortByCreated($event)">Created</th>
          <th [nzSortOrder]="null" (nzSortOrderChange)="sortByUpdated($event)">Updated</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="data-row" *ngFor="let data of rowSelectionTable.data" (click)="navigateToDetail(data)">
          <td>{{ data.name }}
            <div>
              <nz-tag *ngIf="data.tag">{{data.tag}}</nz-tag>
            </div>
          </td>
          <td>
            <kbd class="flag-key">{{ data.key }}</kbd>
          </td>
          <td>
            {{ data.createdBy }}
            <div class="sub-text">{{data.createdAt | date: 'medium'}}</div>
          </td>
          <td>
            {{ data.updatedBy }}
            <div class="sub-text">{{data.updatedAt | date: 'medium'}}</div>
          </td>
          <td>
            <nz-switch [(ngModel)]="data.status" (ngModelChange)="onFlagStatusChanged($event, data.id)" (click)="$event.stopPropagation()"></nz-switch>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <create-feature-flag #createFlag></create-feature-flag>
</main>