$header-height: 50px;

.header {
  color: white;
  height: $header-height;
  display: flex;
  align-items: center;

  .logo {
    font-size: 19px;
    vertical-align: super;
    font-family: system-ui;
    font-weight: 900;
  }

  .header-text {
    margin-left: 80px;
    font-size: 20px;

    .main {
      font-weight: 600;
      cursor: pointer;
    }

    .sub {
      font-weight: 200;
    }
  }
}

.layout {
  height: calc(100vh - $header-height);

  .sidebar {
    padding: 20px;

    .project-select {
      min-width: 210px;
    }    
  }
}
